@model SetorViewModel
@{
    ViewData["Title"] = "Setor_Lista";
}


<div class="card-header" style="margin-top: -35px">
    <h1 style="padding: 5px; border-radius: 5px; font-size: xx-large;">Setores</h1>
</div>

<div style="display:flex; justify-content:center">
    <div class="col-sm-9 col-lg-9 col-md-9" style="margin-top: 50px">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Localização
                    </th>
                    <th>
                        Data cadastro
                    </th>
                    <th>
                        Empresa
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Setores)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Localizacao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataCadastro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Empresa.RazaoSocial)
                        </td>
                        <td style="justify-content:flex-end;display:flex;">
                            <a asp-route-IdSetor="@item.IdSetor" style="margin-right: 5px;" class="btn btn-info btn-sm" asp-area="" asp-controller="Setor" asp-action="Setor_Detalhes">Detalhes</a>
                            <a asp-route-IdSetor="@item.IdSetor" style="margin-right: 5px;" class="btn btn-primary btn-sm" asp-area="" asp-controller="Setor" asp-action="Setor_Edicao">Editar</a>
                            <a asp-route-IdSetor="@item.IdSetor" style="margin-right: 5px;" class="btn btn-danger btn-sm" asp-area="" asp-controller="Setor" asp-action="Setor_Excluir">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
            <div style="margin-top: 10px; justify-content:flex-start; display: flex">
                <a style="margin-right: 5px;" class="btn btn-primary btn-lg" asp-controller="Setor" asp-action="Setor_Cadastro">Adicionar</a>
            </div>
        </div>
    </div>
</div>