@model EmpresaViewModel

@{
    ViewData["Title"] = "Empresa_Lista";
}

<div class="card-header" style="margin-top: -35px">
    <h1 style="padding: 5px; border-radius: 5px; font-size: xx-large;">Empresas</h1>
</div>

<div style="display:flex; justify-content:center">
    <div class="col-sm-9 col-lg-9 col-md-9" style="margin-top: 50px">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>
                        Fantasia
                    </th>
                    <th>
                        Razão Social
                    </th>
                    <th>
                        CNPJ
                    </th>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Data cadastro
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Empresas)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeFantasia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RazaoSocial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CnpjCpf)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataCadastro)
                        </td>
                        <td style="justify-content:flex-end;display:flex;">
                            <a asp-route-idEmpresa="@item.IdEmpresa" style="margin-right: 5px;" class="btn btn-info btn-sm" asp-area="" asp-controller="Empresa" asp-action="Empresa_Detalhes">Detalhes</a>
                            <a asp-route-idEmpresa="@item.IdEmpresa" style="margin-right: 5px;" class="btn btn-primary btn-sm" asp-area="" asp-controller="Empresa" asp-action="Empresa_Editar">Editar</a>
                            <a asp-route-idEmpresa="@item.IdEmpresa" style="margin-right: 5px;" class="btn btn-danger btn-sm" asp-area="" asp-controller="Empresa" asp-action="Empresa_Excluir">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
            <div style="margin-top: 10px; justify-content:flex-start; display: flex">
                <a style="margin-right: 5px;" class="btn btn-primary btn-lg" asp-controller="Empresa" asp-action="Empresa_Cadastro">Adicionar</a>
            </div>
        </div>
    </div>
</div>